<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="E:\Tools\Autodesk\Maya 2013\Maya2013\bin\mayapy.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="C:/toMaya.py “${resource_loc}” “${selected_text}”"/>
</launchConfiguration>
